version: "3.4"

services:
  php:
    image: ${APPLICATION:-}php
    build:
      context: .
      args:
        NODE_VERSION: ${NODE_VERSION:-22.17}
        PHP_VERSION: ${PHP_VERSION:-8.4}
    ports:
      - "80:80"
    volumes:
      - ./:/app
      - ./var/log/php/:/app/var/log
      - ./docker/xdebug_profile/:/tmp/docker_xdebug/
      # Uncomment the following line to enable the blackfire extension, remember that you won't be able to make coverage while blackfire is enabled
      # - ./docker/php/conf.d/blackfire.ini:/usr/local/etc/php/conf.d/blackfire.ini
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    environment:
      XDEBUG_MODE: ${XDEBUG_MODE:-off}
      NODE_OPTIONS: ${NODE_OPTIONS:-}

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: ${APPLICATION:-project_database}
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: dev
      MYSQL_PASSWORD: dev
    ports:
      - "3306:3306"
    hostname: mysql
    volumes:
      - ./var/data/mysql:/var/lib/mysql/:rw

  maildev:
    image: maildev/maildev:2.1.0
    hostname: maildev
    ports:
      - "1080:80"
    command: bin/maildev --web 80 --smtp 25 --hide-extensions STARTTLS

  blackfire:
    image: blackfire/blackfire:2
    ports: [ "8307" ]
    env_file: .env.blackfire
